body {
	font-family: Monaco, Monospace;
	background-image: url("https://images.unsplash.com/photo-1535350356005-fd52b3b524fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fHdoaXRlJTIwZGVzaWdufGVufDB8fDB8fHww&w=1000&q=80");
	background-repeat: no-repeat;
 	background-size: 100%;
 	background-position: center;
}

.signup-container {
	background-color: #FFFFFF;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	padding: 20px;
	margin: auto;
	margin-top: 100px;
	max-width: 300px;
	text-align: center;
}
p {
    text-align: center;
}
h1 {
	font-size: 32px;
	margin-bottom: 30px;
}

form {
	display: flex;
	flex-direction: column;
}

label {
	display: block;
	margin-bottom: 10px;
}

input[type="text"], input[type="password"] {
	border: none;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 20px;
	width: 100%;
	box-sizing: border-box;
}

button {
	background-color: #046139;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
	transition: background-color 0.3s;
}

button:hover {
	background-color: #15da5a;
}

form .new p {
    background: black;
    color: white;
    padding: 17px 20px;
    border-radius: 7px;
    width: fit-content;
    margin: 14px auto;
  }