@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Wix Madefor Text', sans-serif;
    list-style: none;
}
body{
    background-color: #e9f1f2;
}
.main{
    position: relative;
    display: flex;
}
.main .verbar{
    height: 100%;
    width: 200px;
    position: fixed;
    background: #3b3a47;
    padding: 30px 0;
}

.main .verbar h2{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 100px;
    color: white;
}


.main .verbar ul li{
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(225,225,225,0.05);
    padding: 15px;
}
.main .verbar ul li a{
    display: block;
    color: #bdb8d7;
}

.main .verbar ul li:hover{
    background-color: #3b3a47;
}

.main .verbar ul li:hover a{
    color: white;
}

.main .verbar .logout{
    bottom: 0;
    position: absolute;
    left: 50%;
    display: flex;
    transform: translateX(-50%);
}
.main .verbar .logout a{
    display: block;
    height: 40px;
    width: 190px;
    margin: 0 5px;
    background:#3b3a47;
    text-align: center; 
    line-height: 40px;
    color: #68667a;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.main .site-con{
    width: 100%;
    margin-left: 200px;
}
.main .site-con .header{
    text-transform: uppercase;
    padding: 20px;
    color: #717171;
    background: white;
    border-bottom: 1px solid #e0e4e8;
}

.main .verbar .logout a{
    display: block;
    color: #bdb8d7;
}

.main .verbar .logout:hover{
    color: #68667a;
}
.main .verbar .logout:hover a{
    color: white;
}
